/*Default State*/
.toggle1 input[type="checkbox"].toggle {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
.toggle1 input[type="checkbox"].toggle + label {
	position: relative;
	display: flex;
	align-items: center;
	color: black;
	cursor: pointer;
	user-select: none;
}
.toggle1 input[type="checkbox"].toggle + label::before {
	background-color: hsl(350, 100%, 70%);
	border-radius: .1em;
	margin-right: .1em;
	content: "";
	width: 2em;
	height: .85em;
	transition: background-color 200ms ease-in-out;
}
.toggle1 input[type="checkbox"].toggle + label::after {
	opacity: .8;
	background-color: #ccc;
	position: absolute;
	border: 1px solid black;
	border-radius: .1em;
	top: .1em;
	left: -.05em;
	bottom: .1em;
	content: "";
	width: .9em;
	transition: transform 200ms ease-in-out;
}

/*Checked State*/
.toggle1 input[type="checkbox"].toggle:checked + label {
	color: green;
}
.toggle1 input[type="checkbox"].toggle:checked + label::before {
	background-color: hsl(100, 100%, 70%);
}
.toggle1 input[type="checkbox"].toggle:checked + label::after {
	transform: translateX(1.05em);
}

/*Default State*/
.toggle1 input[type="checkbox"].toggle:disabled + label {
	color: grey;
}
.toggle1 input[type="checkbox"].toggle:disabled + label::before {
	background-color: #777;
}
.toggle1 input[type="checkbox"].toggle:disabled + label::after {
	background-color: #aaa;
}