html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}